@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Convenient Car Share is a car sharing service that allows you to rent a car online. Check the dahsboard
page to see what cars are available, then make a booking time, then make a payment. You will receive an email
with your activation code, which you can use to unlock your car and start driving.</p>
<p>If you don't receive your activation code, check out the manage trips page to re-send the code. Also check your profile
by clicking on your email in the top right, and make sure the email is correct.</p>
